@tailwind base;
@tailwind components;
@tailwind utilities;

.icons:hover {
  text-shadow: 0 0 12px #6aa9e4bf;
}

.info-header {
  -webkit-transition: all 1.3s ease-in-out;
  -moz-transition: all 1.3s ease-in-out;
  -o-transition: all 1.3s ease-in-out;
  -ms-transition: all 1.3s ease-in-out;
  transition: all 1.3s ease-in-out;
}

.text-animation {
  color: rgb(218, 199, 199);
}
