@tailwind base;
@tailwind components;
@tailwind utilities;

.kodlar-image:hover {
  background-image: url(../public/images/notlar.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.funny-cards-image:hover {
  background-image: url(../public/images/funnycard.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.apple-image:hover {
  background-image: url(../public/images/appleweb.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.twitter-image:hover {
  background-image: url(../public/images/twitter.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.movie-image:hover {
  background-image: url(../public/images/movie.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.weather-image:hover {
  background-image: url(../public/images/weather.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.icons:hover {
  text-shadow: 0 0 12px #6aa9e4bf;
}

.info {
  text-shadow: 0 0 12px #6aa9e4bf;
}

.info-header {
  -webkit-transition: all 1.3s ease-in-out;
  -moz-transition: all 1.3s ease-in-out;
  -o-transition: all 1.3s ease-in-out;
  -ms-transition: all 1.3s ease-in-out;
  transition: all 1.3s ease-in-out;
  font-size: 5rem;
}

.text-animation {
  color: #020202bf;
  text-shadow: 0 0 12px #fff;
}

.text-animation-second {
  color: #fff;
  text-shadow: 0 0 12px #6aa9e4bf;
}

@media screen and (max-width: 1350px) {
  .myAccounts {
    display: none;
  }
}
@media screen and (max-width: 540px) {
  .info-header {
    font-size: 3rem;
  }
}

@media screen and (max-width: 452px) {
  .my-box-padding {
    padding: 60px 80px;
  }
}

@media (min-width: 767px) and (max-width: 878px) {
  .my-text-size {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}
